

.navbar-dark {
   
        background-color:#241b18;
        padding:1px;
        font-size: 20px ;
    
  }
  .nav-link,.navbar-brand {
    color: #ffc947 !important;
    margin: 0px 12px;
}

.nav-link,.navbar-brand {
  color: #ffc947 !important;
}
.nav-link:hover{
  color: #28a745 !important;
}
.carousel{
  
    background: #241b18;
    margin: 0px auto;
    border: 1px solid #ffffff; 

}


.row-header{
    margin:0px auto;
    padding:0px auto;
  }
  
  .row-content {
    margin: 0px auto;
    padding: 15px 0px 15px 0px;
    min-height: 400px; 
}
.mycard{
  margin:  10px auto;
  border:1px solid #ffff;
  background-color: #ffc947;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  
}
.photo {
  background-color:#ffc947;
 width: 100%;
 height:250px;
 ;
}
.bodycard {

  background-color: #241b18;
  color:#ffc947;
  opacity: 0.95;
 
}

.card-title{
  font-size:20px;
  color: #ffc947;
  text-shadow: 1px 1px #28a745
}

.card-text{
  color:#ffffff;
} 


  
  .footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
  }
  
  
  address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
  }
  
