/*
* { border: 1px red dotted; }
*/

body {
    margin: 0;
    padding: 0;
  
    /** background image */
    background-image: url("./bg-body.png");
   /* background-size: cover;*/
    padding: 60px 0px 0px 0px;
    z-index:0;
    font-family: 'New Tegomin', serif;
  }